<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    

    <!-- Local Stylsheet -->
    <link rel="stylesheet" href="static/styles/styles.css">

    <title>Belly Button Biodiversity</title>
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">Belly Button Biodiversity</h1>
                        <p class="lead">Select a sample to explore the dataset!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div id="select_card">
                    <select id="sample_select" onchange="sampleCall(this.value)">
                    </select>

                </div>
                <div id="metadata_card">

                </div>
            </div>
            <div class="col-sm-5">
                <div id="pie_chart">
                    <p>{{ test }}</p>
                </div>
            </div>
            <div class="col-sm-5">
                <div id="guage">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="bubble_plot">

                </div>
            </div>
        </div>
    </div>>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="static/javascript/script.js"></script>
    <script>
    // here just doing the script inside html, will move
    // it out later, browser is cacheing old copies if i 
    // separate it


    var names_url = 'http://127.0.0.1:5000/names'    
    
    Plotly.d3.json(names_url, function(error, response){
        if (error) console.warn(error)
        console.log("this is the iterable:  " + response)
        response.forEach(function(element){

            var select_box = document.getElementById('sample_select')
            var this_element = document.createElement('option')
            var inner_text = document.createTextNode(element)
            this_element.setAttribute('value', element)
            this_element.appendChild(inner_text)
            select_box.appendChild(this_element)
        })
    })

    function sampleCall(sample){

    
    var sample1 = sample
   

    var samples_url = 'http://127.0.0.1:5000/samples/'
    var ltuf_url = 'http://127.0.0.1:5000/otu_search/'


    Plotly.d3.json((samples_url + sample1), function(error, response) {
        if (error) console.warn(error)
        var trace1 = {
            values: response[0].sample_values.slice(0,10),
            labels: response[0].otu_ids.slice(0,10),
            type: 'pie'
        }

        var layout = {
            title: "Top 10 Bacteria in Sample " + sample1
        }

        var data = [trace1]

        Plotly.react('pie_chart', data, layout)
        
        // now call ltuf api with the otu_ids to get hovertext
        // and update plot

        Plotly.d3.json((ltuf_url + response[0].otu_ids.slice(0,10)), function(error, response){
            if (error) console.warn(error)

            var update = {
                hovertext: response
            }
            Plotly.update('pie_chart', update)
            
        })

        
    })

    }

    sampleCall('BB_940')
    
    
    
    </script>
  </body>
</html>